@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
	scroll-behavior: smooth;
}

.root-screen {
	position: fixed;
	width: 100dvw;
	height: 100dvh;
}
